{% extends 'core_template.html' %}
{% load static %}
{% load widget_tweaks %}


{% block meta_description %}{% endblock %}
{% block meta_content %}{% endblock %}

{% block title %}ЕГН Потребител{% endblock %}


{% block content_main %}
    <div class="container">

        <form action="{% url 'egn checker' %}"
              class="w-50 m-auto needs-validation"
              method="post">


            <div class="text-center mt-2 mb-2 text-warning"
                 style="height: 50px;">
                <h4>Потребителски ЕГН</h4>
                <p>Полето е задължително</p>
            </div>

            {% csrf_token %}
            <div class="form-outline mt-4">
                <i class="fas fa-exclamation-circle trailing"></i>
                {{ form_egn.egn_number|append_attr:"class:form-icon-trailing"|append_attr:'data-mdb-showcounter=true'|append_attr:'maxlength=10' }}
                <label class="form-label" for="id_{{ form_egn.egn_number.name }}">Егн</label>
                <div class="form-helper"></div>
            </div>


            {{ form_egn.errors }}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-rounded btn-outline-primary">Продължи към следващата стъпка
                </button>
            </div>

            <div class="text-center mt-4">
                <h6>За да не използвате Вашето истинско ЕГН, използвайте тези:</h6>

                2504201854<br>
                8202285563<br>
                5101112184<br>
                8602177223<br>
                6901204363<br>
                7102048226<br>
                5929012821<br>
                7605026023
            </div>

        </form>
    </div>
{% endblock %}