{% extends 'core_template.html' %}
{% load static %}
{% load widget_tweaks %}


{% block meta_description %}{% endblock %}
{% block meta_content %}{% endblock %}

{% block title %}Потребителски профил{% endblock %}

{% block content_main %}

    <div class="container">

        <form action="{% url 'profile' %}"
              class="w-50 m-auto needs-validation"
              method="post"
              enctype="multipart/form-data">

            <div class="text-center mt-2 mb-2 text-warning"
                 style="height: 100px;">
                <h5>Личен профил - {{ profile.user }}</h5>
                <p>Всички полета са задължителни.</p>

                {% if profile.user_data_progress < 100 %}
                    <p class="text-danger">Профилът е завършен на
                        <strong>{{ profile.user_data_progress }}</strong> процента.</p>
                {% else %}
                    <p class="text-success">Профилът е завършен на
                        <strong>{{ profile.user_data_progress }}</strong> процента.</p>
                {% endif %}
            </div>

            {% csrf_token %}

            <div class="form-outline mt-4">
                <i class="fas fa-exclamation-circle trailing"></i>
                {{ form.egn_number|append_attr:"class:form-icon-trailing"|append_attr:'data-mdb-showcounter=true'|append_attr:'maxlength=25' }}
                <label class="form-label" for="id_{{ form.egn_number.name }}">{{ form.egn_number.label }}</label>
                <div class="form-helper"></div>
            </div>
            {{ form.egn_number.errors }}


            <div class="form-outline mt-4">
                <i class="fas fa-exclamation-circle trailing"></i>
                {{ form.first_name|append_attr:"class:form-icon-trailing"|append_attr:'data-mdb-showcounter=true'|append_attr:'maxlength=25' }}
                <label class="form-label" for="id_{{ form.first_name.name }}">{{ form.first_name.label }}</label>
                <div class="form-helper"></div>
            </div>
            {{ form.first_name.errors }}

            <div class="form-outline mt-4">
                <i class="fas fa-exclamation-circle trailing"></i>
                {{ form.middle_name|append_attr:"class:form-icon-trailing"|append_attr:'data-mdb-showcounter=true'|append_attr:'maxlength=25' }}
                <label class="form-label" for="id_{{ form.middle_name.name }}">{{ form.middle_name.label }}</label>
                <div class="form-helper"></div>
            </div>


            <div class="form-outline mt-4">
                <i class="fas fa-exclamation-circle trailing"></i>
                {{ form.family_name|append_attr:"class:form-icon-trailing"|append_attr:'data-mdb-showcounter=true'|append_attr:'maxlength=25' }}
                <label class="form-label" for="id_{{ form.family_name.name }}">{{ form.family_name.label }}</label>
                <div class="form-helper"></div>
            </div>
            {{ form.family_name.errors }}

            {% if profile.egn_number %}


                <div class="mt-4">
                    {% if profile.gender == 'M' %}
                        <p>Пол: <strong>Мъжки</strong></p>
                    {% else %}
                        <p>Пол: <strong>Женски</strong></p>
                    {% endif %}
                </div>


                <div class="mt-4">
                    <p>Дата на Раждане: <strong>{{ profile.date_of_birth }}</strong></p>
                </div>

                <div class="mt-4">
                    <p>Възраст: <strong>{{ profile.profile_calculated_age }}</strong></p>
                </div>

                <div class="mt-4">
                    <p>Роден в област: <strong>{{ profile.region_of_birth }}</strong></p>
                </div>

                <div class="mt-4">
                    <p>Астрологичен знак: <strong>{{ profile.astrological_sign }}</strong></p>
                </div>
            {% endif %}

            {#            <div class="form-outline mt-4">#}
            {#                <i class="fas fa-exclamation-circle trailing"></i>#}
            {#                {{ form.date_of_birth|append_attr:"class:form-icon-trailing"|append_attr:'data-mdb-showcounter=true'|append_attr:'maxlength=8 disabled' }}#}
            {#                <label class="form-label" for="id_{{ form.date_of_birth.name }}">{{ form.date_of_birth.label }}</label>#}
            {#                <div class="form-helper"></div>#}
            {#            </div>#}


            {#            <div class="form-outline mt-4">#}
            {#                <i class="fas fa-exclamation-circle trailing"></i>#}
            {#                {{ form.egn_number|append_attr:"class:form-icon-trailing"|append_attr:'data-mdb-showcounter=true'|append_attr:'maxlength=10 disabled' }}#}
            {#                <label class="form-label" for="id_{{ form.egn_number.name }}">{{ form.egn_number.label }}</label>#}
            {#                <div class="form-helper"></div>#}
            {#            </div>#}


            <div class="form-outline mt-4">
                {#                <i class="fas fa-exclamation-circle trailing"></i>#}
                {{ form.mobile_phone|append_attr:"class:form-icon-trailing"|append_attr:'data-mdb-showcounter=true'|append_attr:'maxlength=20' }}
                <label class="form-label" for="id_{{ form.mobile_phone.name }}">{{ form.mobile_phone.label }}</label>
                <div class="form-helper"></div>
            </div>
            {{ form.mobile_phone.errors }}


            <div class="mt-4">
                <hr>
            </div>


            <p class="mt-1">Профилна снимка</p>
            <div class="form-outline mt-n3">
                {{ form.photo }}
            </div>

            <div class="col-md mt-4 text-center">
                {% if profile.photo %}
                    <p>Текуща снимка</p>
                    <img src="{{ profile.photo.url }}"
                         class="img-fluid rounded" alt="Снимка Профил" style="max-width:250px"/>

                {% elif profile.gender == 'F' %}
                    <img src="{% static '/generic/user-female.png' %}"
                         class="img-fluid rounded" alt="Снимка Профил" style="max-width:250px"/>

                {% elif profile.gender == 'M' %}
                    <img src="{% static '/generic/user-male.png' %}"
                         class="img-fluid rounded" alt="Снимка Профил" style="max-width:250px"/>
                {% endif %}
            </div>

            {# {{ form.errors }}#}

            {% if profile.egn_number %}
                <div class="text-center mt-4">
                    Потребителски ранг: <strong>{{ profile.user_ranking }}</strong>
                </div>
            {% endif %}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-rounded btn-outline-primary">Обнови информацията</button>
            </div>

            <div class="text-center mt-4">
                <h6>За да не използвате Вашето истинско ЕГН, използвайте накой от генерираните:</h6>

                2504201854<br>
                8202285563<br>
                5101112184<br>
                8602177223<br>
                6901204363<br>
                7102048226<br>
                5929012821<br>
                7605026023
            </div>


        </form>
    </div>




{% endblock %}