{% extends 'core_template.html' %}
{% load static %}
{% block meta_description %}{% endblock %}
{% block meta_content %}{% endblock %}
{% block title %}Потребителски профили{% endblock %}


{% block content_main %}

    <div class="text-center mb-4 text-info">
        <p>Тази страница не би могла да съществува в реален проект.
            Тук е за тестови цели.</p>

    </div>

    <table class="table table-sm table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Име</th>
            <th scope="col">Презиме</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Мобилен</th>
            <th scope="col">Профил</th>
            <th scope="col">Ранк</th>
        </tr>
        </thead>
        <tbody>

        {% for el in profile %}
            <tr>
                <td>{{ el.pk }}</td>
                <td>{{ el.first_name }}</td>
                <td>{{ el.middle_name }}</td>
                <td>{{ el.family_name }}</td>
                <td>{{ el.mobile_phone }}</td>
                <td>{{ el.user_data_progress }} %</td>
                <td>{{ el.user_ranking }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {% include 'elements/el_paginator.html' %}

{% endblock %}