{% extends 'core_template.html' %}
{% block title %}Вход{% endblock %}

{% block meta_description %}{% endblock %}
{% block meta_content %}{% endblock %}

{% block content_main %}

    <div class="container">
        <form action="{% url 'sign in' %}" class="w-50 m-auto" method="post">
            <h2 class="text-center">Вход</h2>
            {% csrf_token %}
            {{ form }}
            {{ form.errors }}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-rounded btn-outline-primary">Вход</button>
            </div>
        </form>
    </div>



    {% comment %}
    <div class="form-outline">
        <input type="email" id="typeEmail" class="form-control"/>
        <label class="form-label" for="typeEmail">Email Address</label>
    </div>

    <div class="form-outline">
        <input type="password" id="typePassword" class="form-control"/>
        <label class="form-label" for="typePassword">Password</label>
    </div>


    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endcomment %}



{% endblock %}

