{% extends 'core_template.html' %}

{% block meta_description %}{% endblock %}
{% block meta_content %}{% endblock %}

{% block title %}Регистрация{% endblock %}

{% block content_main %}

    <div class="container">
        <form action="{% url 'sign in' %}" class="w-50 m-auto" method="post">
            <h2>Регистрация</h2>
            {% csrf_token %}
            {{ form }}
            {{ form.errors }}

            <button type="submit" class="btn btn-rounded btn-outline-primary">Sign Up</button>
            <span>Вече имате създаден потребителски профил?<a href="{% url 'sign up' %}">Влезте от тук</a></span>

        </form>
    </div>
{% endblock %}