{% extends 'core_template.html' %}
{% load static %}
{% load widget_tweaks %}


{% block meta_description %}{% endblock %}
{% block meta_content %}{% endblock %}

{% block title %}Потребителски профил{% endblock %}

{% block content_main %}

    <div class="text-center mt-2 mb-2 text-dark text-decoration-underline"
         style="height: 50px;">
        <h5>Класация на потребителите на Буктопия по брой книги и коемнтари</h5>
    </div>


    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Брой коментари</th>
            <th scope="col">Брой книги</th>
            <th scope="col">Ранг</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row">-</th>
            <td>0</td>
            <td>0</td>
            <td class="text-primary"><strong>Гражданин на Буктопия</strong></td>
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>9</td>
            <td>2</td>
            <td class="text-primary"><strong>Продавач на енциклопедии</strong></td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>10</td>
            <td>3</td>
            <td class="text-primary"><strong>Стажант</strong></td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>20</td>
            <td>10</td>
            <td class="text-primary"><strong>Чиновник</strong></td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>30</td>
            <td>15</td>
            <td class="text-primary"><strong>Писател</strong></td>
        </tr>

        <tr>
            <th scope="row">5</th>
            <td>40</td>
            <td>15</td>
            <td class="text-primary"><strong>Писател</strong></td>
        </tr>

        <tr>
            <th scope="row">6</th>
            <td>50</td>
            <td>20</td>
            <td class="text-primary"><strong>Главен Счетоводител</strong></td>
        </tr>

        <tr>
            <th scope="row">7</th>
            <td>60</td>
            <td>25</td>
            <td class="text-primary"><strong>Книговезец</strong></td>
        </tr>

        <tr>
            <th scope="row">8</th>
            <td>70</td>
            <td>30</td>
            <td class="text-primary"><strong>Коректор Печат</strong></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>80</td>
            <td>35</td>
            <td class="text-primary"><strong>Помощник библиотекар</strong></td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>90</td>
            <td>40</td>
            <td class="text-primary"><strong>Библиотекар</strong></td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>100</td>
            <td>45</td>
            <td class="text-primary"><strong>Старши библиотекар</strong></td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>110</td>
            <td>50</td>
            <td class="text-primary"><strong>Архивист</strong></td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>120</td>
            <td>55</td>
            <td class="text-primary"><strong>Велик архивист</strong></td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>130</td>
            <td>60</td>
            <td class="text-primary"><strong>Редактор</strong></td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>140</td>
            <td>65</td>
            <td class="text-primary"><strong>Главен редактор</strong></td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td>150</td>
            <td>70</td>
            <td class="text-primary"><strong>Издател</strong></td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td>160</td>
            <td>75</td>
            <td class="text-primary"><strong>Почетен издател</strong></td>
        </tr>
        <tr>
            <th scope="row">18</th>
            <td>170</td>
            <td>80</td>
            <td class="text-primary"><strong>Графолог</strong></td>
        </tr>
        <tr>
            <th scope="row">19</th>
            <td>180</td>
            <td>85</td>
            <td class="text-primary"><strong>Лексикоман Любител</strong></td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td>190</td>
            <td>90</td>
            <td class="text-primary"><strong>Напреднал Лексикоман</strong></td>
        </tr>
        <tr>
            <th scope="row">21</th>
            <td>200</td>
            <td>95</td>
            <td class="text-primary"><strong>Велик Лексикоман</strong></td>
        </tr>
        <tr>
            <th scope="row">22</th>
            <td>215</td>
            <td>100</td>
            <td class="text-primary"><strong>Шампион по Судоку</strong></td>
        </tr>
        <tr>
            <th scope="row">23</th>
            <td>225</td>
            <td>150</td>
            <td class="text-primary"><strong>Чудовището от речника</strong></td>
        </tr>
        <tr>
            <th scope="row">24</th>
            <td>235</td>
            <td>200</td>
            <td class="text-primary"><strong>Преводач на Хари Потър</strong></td>
        </tr>
        <tr>
            <th scope="row">25</th>
            <td>245</td>
            <td>250</td>
            <td class="text-primary"><strong>Преводач на Франц Кафка</strong></td>
        </tr>
        <tr>
            <th scope="row">26</th>
            <td>255</td>
            <td>300</td>
            <td class="text-primary"><strong>Преводач на Джеймс Джойс</strong></td>
        </tr>
        <tr>
            <th scope="row">27</th>
            <td>265</td>
            <td>350</td>
            <td class="text-primary"><strong>Книжен плъх</strong></td>
        </tr>
        <tr>
            <th scope="row">28</th>
            <td>275</td>
            <td>400</td>
            <td class="text-primary"><strong>Почетен Гражданин на Буктопия</strong></td>
        </tr>
        <tr>
            <th scope="row">29</th>
            <td>285</td>
            <td>450</td>
            <td class="text-primary"><strong>Буктопия Гуру</strong></td>
        </tr>

        <tr>
            <th scope="row">30</th>
            <td>300</td>
            <td>500</td>
            <td class="text-primary"><strong>Велик Везир на Буктопия</strong></td>
        </tr>


        </tbody>
    </table>


{% endblock %}