{% extends 'core_template.html' %}
{% load widget_tweaks %}

{% block meta_description %}{% endblock %}
{% block meta_content %}{% endblock %}
{% block title %}Промени данни на издателство{% endblock %}


{% block content_main %}

    <div class="container">
        <form action="{% url 'edit edition' edition.pk %}"
              class="w-50 m-auto needs-validation"
              method="post"
              enctype="multipart/form-data">

            <div class="text-center mt-2 mb-2 text-warning"
                 style="height: 50px;">
                <h4>Всички полета са задължителни</h4>
            </div>


            {% csrf_token %}
            {{ form }}
            {{ form.errors }}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-rounded btn-outline-primary">Промени данните</button>
            </div>

            <div class="m-2 text-center">
                <a class="btn btn-outline-black btn-rounded" href="javascript:history.back()">Назад</a>
            </div>
        </form>
    </div>

{% endblock %}