{% extends 'core_template.html' %}
{% load static %}

{% block meta_description %}{% endblock %}
{% block meta_content %}{% endblock %}

{% block title %}Детайлна информация за книга{% endblock %}

{% block content_main %}

    <!-- Tabs navs -->
    <ul class="nav nav-tabs nav-justified mb-3" id="tab_book" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active"
               id="ex3-tab-1"
               data-mdb-toggle="tab"
               href="#ex3-tabs-1"
               role="tab"
               aria-controls="ex3-tabs-1"
               aria-selected="true">Обща информация</a>
        </li>


        <li class="nav-item" role="presentation">
            <a class="nav-link"
               id="ex3-tab-2"
               data-mdb-toggle="tab"
               href="#ex3-tabs-2"
               role="tab"
               aria-controls="ex3-tabs-2"
               aria-selected="false">Произведения</a>
        </li>


        <li class="nav-item" role="presentation">
            <a class="nav-link"
               id="ex3-tab-3"
               data-mdb-toggle="tab"
               href="#ex3-tabs-3"
               role="tab"
               aria-controls="ex3-tabs-3"
               aria-selected="false">Коментари</a>
        </li>

    </ul>
    <!-- Tabs -->

    <!-- Tabs content -->
    <div class="tab-content" id="ex2-content">
        <div class="tab-pane fade show active"
             id="ex3-tabs-1"
             role="tabpanel"
             aria-labelledby="ex3-tab-1">

            {# Section Info 1 #}
            <div class="container align-content-md-center text-center mt-5">
                <div class="row">
                    <div class="col-md">
                        <p>Име</p>
                        <h4>{{ edition.name|upper }}</h4>
                    </div>
                    <div class="col-md">
                        <p>Адрес</p>
                        <h4>{{ edition.address|title }}</h4>
                    </div>
                    <div class="col-md">
                        <p>Държава</p>
                        <h4>{{ edition.country|title }}</h4>
                    </div>

                    <hr>

                    <div class="col-md">
                        <p>Уеб адрес (или информация в Уикипедия)</p>
                        {% if edition.web_address %}
                            <a href="{{ edition.web_address }}" target="_blank"><h4>Посети адреса</h4></a>
                        {% else %}
                            <h4>Няма въведен адрес</h4>
                        {% endif %}
                    </div>

                    <div class="col-md">
                        <p>Снимка / Лого</p>

                        {% if edition.logo %}
                            <img src="{{ edition.logo.url }}"
                                 class="img-fluid rounded" alt="Снимка Издателство" style="max-width:250px"/>
                        {% else %}
                            <h4>Няма изображение</h4>
                        {% endif %}

                    </div>

                </div>
            </div>
            <div class="d-flex flex-column mb-3 align-items-center">
                <div class="p-2 align-items-center">
                    <a href="{% url 'edit edition' edition.id %}" class="btn btn-outline-dark ">
                        Промени Съдържанието
                    </a>
                </div>
            </div>

            {# Delete book #}
            <div class="d-flex flex-column mb-3 align-items-center">
                <div class="p-2 align-items-center">
                    <a href="{% url 'delete edition' edition.id %}" class="btn-danger btn-outline-dark ">
                        Изтрий издателството
                    </a>
                </div>
            </div>
            <hr>
        </div>


        {# TAB 2 content #}
        <div class="tab-pane fade"
             id="ex3-tabs-2"
             role="tabpanel"
             aria-labelledby="ex3-tab-2">


            <table class="table table-sm table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">книга</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Година</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Състояние</th>
                </tr>
                </thead>

                <tbody>

                {% for el in books %}
                    <tr>
                        <th scope="row">{{ el.pk }}</th>

                        <td class=""><strong>
                            <a href="{% url 'book detail' el.pk %}">{{ el.name|upper }}</a>
                        </strong></td>

                        <td class=""><strong>
                            <a href="{% url 'author detail' el.author_name.pk %}">{{ el.author_name|upper }}</a>
                        </strong></td>

                        <td>{{ el.release_year|default_if_none:'неизвестна' }}</td>
                        <td>{{ el.get_book_current_status_display|default_if_none:'без' }}</td>
                        <td>{{ el.get_visual_condition_display|default_if_none:'без' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>


    {# TAB 3 content #}
    <div class="tab-pane fade"
         id="ex3-tabs-3"
         role="tabpanel"
         aria-labelledby="ex3-tab-3">

        <div class="container">
            {% for el in comments %}
                <table class="table table-sm table-hover table-bordered mb-5">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">от: {{ el.user_id }}</th>
                        <th scope="col">на дата: {{ el.record_created_at }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="table-light">
                        <td colspan="2">{{ el.comment }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>

        <form action="{% url 'new comment edition' edition.pk %}" class="w-50 m-auto" method="post">
            {% csrf_token %}
            {{ form }}
            {{ form.errors }}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-rounded btn-outline-primary">Добави нов коментар</button>
            </div>
        </form>
    </div>


{% endblock %}