{% extends 'core_template.html' %}
{% load static %}

{% block meta_description %}{% endblock %}
{% block meta_content %}{% endblock %}

{% block title %}Детайлна информация за книга{% endblock %}

{% block content_main %}

    <!-- Tabs navs -->
    <ul class="nav nav-tabs nav-justified mb-3" id="tab_book" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active"
               id="ex3-tab-1"
               data-mdb-toggle="tab"
               href="#ex3-tabs-1"
               role="tab"
               aria-controls="ex3-tabs-1"
               aria-selected="true">Обща информация</a>
        </li>


        <li class="nav-item" role="presentation">
            <a class="nav-link"
               id="ex3-tab-2"
               data-mdb-toggle="tab"
               href="#ex3-tabs-2"
               role="tab"
               aria-controls="ex3-tabs-2"
               aria-selected="false">Произведения</a>
        </li>
    </ul>
    <!-- Tabs -->

    <!-- Tabs content -->
    <div class="tab-content" id="ex2-content">
        <div class="tab-pane fade show active"
             id="ex3-tabs-1"
             role="tabpanel"
             aria-labelledby="ex3-tab-1">

            {# Section Info 1 #}
            <div class="container align-content-md-center text-center mt-5">
                <div class="row">
                    <div class="col-md">
                        <p>Име</p>
                        <h4>{{ edition.name|upper }}</h4>
                    </div>
                    <div class="col-md">
                        <p>Адрес</p>
                        <h4>{{ edition.address|title }}</h4>
                    </div>
                    <div class="col-md">
                        <p>Държава</p>
                        <h4>{{ edition.country|title }}</h4>
                    </div>

                    <hr>

                    <div class="col-md">
                        <p>Уеб адрес (или информация в Уикипедия)</p>
                        {% if edition.web_address %}
                            <a href="{{ edition.web_address }}" target="_blank"><h4>Посети адреса</h4></a>
                        {% else %}
                            <h4>Няма въведен адрес</h4>
                        {% endif %}
                    </div>

                    <div class="col-md">
                        <p>Снимка / Лого</p>

                        {% if edition.logo %}
                            <img src="{{ edition.logo.url }}"
                                 class="img-fluid rounded" alt="Снимка Издателство" style="max-width:250px"/>
                        {% else %}
                            <h4>Няма изображение</h4>
                        {% endif %}

                    </div>

                </div>
            </div>


        </div>
        <hr>

        {#            {% if is_owner %}#}
        {# Modify book info form button #}
        <div class="d-flex flex-column mb-3 align-items-center">
            <div class="p-2 align-items-center">
                <a href="{% url 'edit edition' edition.id %}" class="btn btn-outline-dark ">
                    Промени Съдържанието
                </a>
            </div>
        </div>

        {# Delete book #}
        <div class="d-flex flex-column mb-3 align-items-center">
            <div class="p-2 align-items-center">
                <a href="{% url 'delete edition' edition.id %}" class="btn-danger btn-outline-dark ">
                    Изтрий издателството
                </a>
            </div>
        </div>
        {#            {% endif %}#}
    </div>


    {# TAB 2 content #}
    <div class="tab-pane fade"
         id="ex3-tabs-2"
         role="tabpanel"
         aria-labelledby="ex3-tab-2">
        {% for c in comment %}
            <p class="text-center text-">{{ c.user_id }} {{ c.book_id }} {{ c.comment }} {{ c.pk }}</p>
        {% endfor %}
    </div>






















{% endblock %}