{# first we create the header of the table with the years #}
{# https://stackoverflow.com/questions/51645637/using-django-template-to-html-table #}

<tr class="first-table-row">
    # leave it blank so the first column is empty
    <th></th>
    #loop trough the items
    {% for i in bookdata %}
        <th>{{ i.year }}</th>
    {% endfor %}
</tr>


{# loop trough the items again #}
{% for i in bookdata %}
    <td>{{ i.point }}</td>
    # I don't know how your object is structured man please submit it so I can continue
{% endfor %}