{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-sm-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Icon -->
        <a class="navbar-brand me-2" href="">
            <img src="{% static "logo/bt-logo-no-frame.png" %}"
                 height="20"
                 alt="booktopia logo"
                 loading="lazy"
                 style="margin-top: -1px;"/>
        </a>

        <!-- Drop Down element 1 -->
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'landing' %}">Начало</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdownMenuLink"
                   role="button"
                   data-mdb-toggle="dropdown"
                   aria-expanded="false">
                    Библиотека
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="{% url 'all my books table' %}">
                            Моята Библиотека</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">Любими книги</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">Търсения</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">Резервации</a>
                    </li>


                    <li>
                        <a class="dropdown-item" href="#">Прочетено от мен</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Търсения</a>
                    </li>

                </ul>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdownMenuLink"
                   role="button"
                   data-mdb-toggle="dropdown"
                   aria-expanded="false">
                    BookTopia
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Всичко в Буктопия</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">Базар</a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Активни Търгове</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">Изтекли Търгове</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Любими книги</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">Близо до Мен</a>
                    </li>


                </ul>


            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdownMenuLink"
                   role="button"
                   data-mdb-toggle="dropdown"
                   aria-expanded="false">
                    Списъци
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Автори</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">Издателства</a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">Близо до Мен</a>
                    </li>
                </ul>
            </li>
        </ul>


        <!-- Drop Down element 2 -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
            </ul>

            <!-- Left Profile / Login links -->
            {% if request.user.is_authenticated %}
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-link px-3 me-2">
                        {# TODO Fix the link #}
                        <a href="{% url 'sign out' %}">Profile</a>
                    </button>

                    <button type="button" class="btn btn-link px-3 me-2">
                        <a href="{% url 'sign out' %}">Sign out</a>
                    </button>

                </div>

            {% else %}
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-link px-3 me-2">
                        <a href="{% url 'sign in' %}">Sign in</a>
                    </button>

                    <button type="button" class="btn btn-link px-3 me-2">
                        <a href="{% url 'sign up' %}">Sign up</a>
                    </button>
                </div>
            {% endif %}

        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
